body {
    overflow: hidden;
    max-width: 640px;
    position: relative;
}

a, a:hover, a:visited {
    text-decoration: none;
}

dl {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5em;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bolder;
}

.red {
    color: #cb2c16;
}

.datetime {
    color: #b3b3b3;
    font-style: oblique;
}

.avatar {
    border: 1px solid #cccccc;
}

.loading {
    margin: 0 auto;
    padding: 0.5em;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.photo-author {
    padding: 1em 1em 0.5em 1em;
    vertical-align: middle;
}

.photo-author h5 b {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.photo-author .datetime {
    font-size: 0.8em;
    line-height: 1.2em;
}

.photo-author dt {
    width: 48px;
    float: left;
    overflow: hidden;
    padding: 0 3px 3px 0;
}

.photo-author dt img {
    box-shadow: 1px 1px 2px 0 #ccc;
}

.photo-author dd {
    margin-left: 54px;
}

.photo-author .location {
    color: #666;
}

.photo-title {
    padding: 0 1em 1em 1em;
}

.photo-title p {
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    word-break: break-all;
    font-weight: 500;
}

.photo-detail-wrapper {
    margin: 25px auto 0 auto;
    box-shadow: 0 2px 4px 0 #ccc;
    background-color: #ffffff;
    max-width: 616px;
}

.photo-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    min-height: 300px;
    background-color: #eee;
}

.photo-like-heart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -64px;
    width: 128px;
    height: 128px;
    font-size: 128px;
    text-shadow: 0 2px 2px #000;
    opacity: 0;
    /*-webkit-transform-style: preserve-3d;*/
    /*-webkit-backface-visibility: hidden;*/
}

.photo-ops {
    background-color: #f5f5f5;
    box-shadow: inset 0 1px 2px 0 #ccc;
}

.photo-ops a:first-child {
    width: 33%;
    border: 0 none;
}

.photo-ops a:last-child {
    width: 33%;
    border: 0 none;
}

.photo-ops a {
    display: block;
    float: left;
    width: 34%;
    color: #999;
    padding: 0.6em 0.8em 0.8em 0.8em;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 0.8em;
}

#comment-form-wrap {
    width: 100%;
    height: 100%;
}

#comment-form {
    padding: 1em;
    background-color: #3d3d3d;
    border-radius: 6px 6px 0 0;
}

.comment:last-child {
    border-bottom: 0 none;
}

.comment {
    border-bottom: 1px solid #d2d2d2;
}

.comment dt {
    width: 32px;
    float: left;
    overflow: hidden;
    padding: 3px 3px 3px 0;
}

.comment dd {
    margin-left: 38px;
    font-size: 12px;
}

/*page*/
.wrap {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

#page-body {
    overflow-y: scroll;
    outline: 0 none;
    -webkit-overflow-scrolling: touch;
}

.subpage {
    left: 100%;
    z-index: 99;
}

#page-body::-webkit-scrollbar, #subpage-body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#menu-left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    color: #ffffff;
    display: none;
    font-size: 1.5em;
    padding: 1em 20% 0.5em 1em;
}

#menu-left .glyphicon {
    margin-right: 0.5em;
}

#menu-left dl {
    min-height: 48px;
    padding: 1em 0.5em;
}

#menu-left dt {
    float: left;
    width: 48px;
    height: 48px;
}

#menu-left dd {
    vertical-align: middle;
    margin-left: 64px;
    overflow: hidden;
    min-height: 48px;
}

#menu-left dd h5 {
    line-height: 48px;
    margin: 0;
}

#menu-left ul {
    list-style: none;
    padding: 0;
}

#menu-left ul a {
    width: 100%;
    padding: 0.25em;
    display: block;
    color: #ffffff;
}

#menu-left ul a:hover {
    background-color: #262626;
}

#page-index {
    width: inherit;
    background-color: #f2f2f2;
}

#page-splash {
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    color: #ffffff;
    position: absolute;
}

#page-splash .splash-login {
    padding: 25% 10%;
}

#page-splash .splash-text {
    padding: 0 10%;
    position: absolute;
    bottom: 10%;
}

#page-splash h2 {
    font-size: 3em;
    font-weight: bold;
}

#page-splash .splash-img {
    width: 100%;
    min-height: 400px;
}

#page-about {
    text-align: center;
    padding: 1em;
    font-size: 1em;
    text-shadow: 1px 1px 1px #030303;
}

/*home*/
.user-home-wrap {

}

.user-home-background {
    width: 100%;
    position: relative;
}

.user-home-background img {
    position: absolute;
    top: 0;
}

.user-home-background:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.user-home-body {
    max-width: 100%;
    top: 0;
}

.user-home-heading {
    width: 100%;
    margin-top: -64px;
}

.user-home-info {
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.user-home-info:before {
    opacity: 0.6;
    background-color: #000;
    height: 64px;
    width: 100%;
    content: "";
    z-index: 0;
    position: absolute;
}

.user-home-info dt {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    padding: 0.5em;
}

.user-home-info dd {
    position: relative;
    vertical-align: middle;
    margin-left: 64px;
    overflow: hidden;
    height: 64px;
    padding: 10px;
}

.user-home-info .name {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 5px;
}

.user-home-info .location {
    font-size: 0.8em;
    float: right;
}

.user-home-info .signature {
    font-size: 0.8em;
    color: #e5e5e5;
    font-style: italic;
}

ul.thumbs {
    padding-left: 1.5625%;
}

ul.thumbs li {
    position: relative;
    width: 31.75%;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 1.5625%;
    margin-bottom: 0;
    background-color: #fff;
    padding: 0;
    border: 1px solid #dddddd;
}

ul.thumbs li img {
    position: absolute;
    top: 0;
}

ul.thumbs li:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#popup {
    position: fixed;
    top: 100%;
    z-index: 999;
    width: 100%;
    min-height: 20px;
}