html {
    max-width: 640px;
}

body {
    margin: 10px auto;
}

dl {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.6em 0.5em;
}

h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu {
    min-width: 60px;
    font-size: 12px;
}

.datetime {
    color: #999;
    font-style: oblique;
    font-size: 12px;
}

.photo-content {
    border: 1px solid #ccc;
    border-top: 0 none;
    box-shadow: 0 2px 4px 0 #ccc;
}

.photo-content dt {
    width: 64px;
    float: left;
    overflow: hidden;
}

.photo-content dd {
    margin-left: 70px;
}

.photo-detail-wrapper {
    margin: 0 auto 1.5em auto;
}

.photo-wrapper {
    width: 100%;
    padding: 6px 6px 0 6px;
    border: 1px solid #ccc;
    border-bottom: 0 none;
}

.photo-ops {
    margin-top: 10px;
}

.photo-comment-list .comment:last-child {
    border-bottom: 0 none;
}

.comment {
    border-bottom: 1px solid #ccc;
}

.comment dt {
    width: 48px;
    float: left;
    overflow: hidden;
}

.comment dd {
    margin-left: 54px;
}

/*.photo-wrapper {*/
/*min-width: 616px;*/
/*min-height: 616px;*/
/*}*/
